@using EM.Domain
@using EM.Domain.Enums
@model EM.Domain.Aluno
@{
	ViewData["Title"] = "Relatório";
}

<h1 style="text-align:center;">Relatório de Alunos</h1>

<div class="dev-form">
	<form class="row g-3 needs-validation" role="GerarRelatorio" action="Relatorio/GerarRelatorio" method="post">
		<div>
			<label for="Estado">Filtro por Estado</label>
			<select name="Uf" class="form-select">
				<option selected value="">Selecione</option>
				@foreach (var uf in Enum.GetValues(typeof(UF)))
				{
					<option value="@uf">@uf</option>
				}
			</select>
		</div>
		<div class="col-md-6">
			<label for="Sexo">Filtro por Sexo</label>
			<select name="Sexo" class="form-select">
				<option value="" selected>Selecione</option>
				@foreach (var obj in Enum.GetValues(typeof(Sexo)))
				{
					<option value="@obj">@obj</option>
				}
			</select>
			<p></p>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" name="linhasZebradas" autocomplete="off" value="true" role="switch" id="flexSwitchCheckDefault">
				<label class="form-check-label" for="flexSwitchCheckDefault">Linhas zebradas</label>
			</div>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
				<label class="form-check-label" for="flexSwitchCheckDefault">Horizontal</label>
			</div>

		</div>
		<div class="col-md-6">
			<label for="ordem">Ordenar</label>
			<select id="ordem" name="ordem" class="form-select">
				<option selected>Selecione</option>
				<option value="Nome">Nome</option>
				<option value="Cidade">Cidade</option>
				<option value="UF">Estado</option>
			</select>
		</div>
		<div class=" d-flex">
			<button type="submit" class="btn botao-btn-azul" asp-area="" asp-controller="Relatorio" asp-action="GerarRelatorio">Gerar Relatório</button>
			<a class="btn botao-btn-cinza" style="margin-left:3px;" asp-controller="Relatorio" asp-action="LimparFiltros">Limpar Filtro</a>
			<a class="col-1 ms-auto btn botao-btn-cinza" asp-controller="Home" asp-action="Index">Voltar</a>
		</div>
	</form>
</div>


