html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.oi {
    background-color: #4c9a6d;
    color: white;
    text-align: center;
}

.dev-container {
    text-align: center;
}

td.nome {
    text-align: start;
}

h2 {
    text-align: start;
}

.botao-btn-azul {
    background-color: #128c7e;
    color: white;
}

.botao-btn-cinza {
    background-color: #898f9c;
    color: white;
}

img {
    width: 58px;
    height: 50px;
}

.btn {
    border: 1px solid black;
}

.dev-form {
    margin-top: 50px
}

.dev-titulo {
    margin-top: 50px;
    text-align: center;
}
    